$base: #24273a;
$text: #cad3f5;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: rgba(36, 39, 58, 0.99);
$mantle: #1e2030;
$crust: #181926;

$border-radius: 10px;

* {
  all: unset;
  font-family: "JetBrains Mono";
}

window {
  background: $base;
  color: $text;
  border-radius: $border-radius;
  border: 3px solid $lavender;
}

.uinfo {
  font-size: 1.25rem;
}

.cpu {
  padding: 19px 1px;
}

.metric scale trough highlight {
  all: unset;
  color: $text;
  background: linear-gradient(90deg, $lavender 0%, $mauve 100%);
  border-radius: $border-radius;
}

.metric scale trough {
  all: unset;
  background-color: $surface0;
  min-height: 10px;
  min-width: 100px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: $border-radius;
}

.power {
  padding: 0px 9px;
}

.quote-text {
  padding: 15px;
  font-size: 1rem;
  font-style: italic;
  font-weight: 600;
  color: $lavender;
}

// --- Uinfo styling ---
.uinfo-host {
  color: $lavender;
  font-style: italic;
}

.uinfo-hr {
  color: $mauve;
  font-weight: bold;
}

.uinfo-date, .uinfo-ws, .uinfo-win, .uinfo-time {
  color: $lavender;
}
